/*
CSS file for the miniaturized view of the project.
*/

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    color: #303030;
    margin: 20px;
  }

ol, ul {
    padding-left: 30px;
  }

.txtTitle {
    font: 30px "Century Gothic", Futura, sans-serif;
    color: #303030;
}
.txtDesc {
      resize:none;
  }
.wrapper {
    outline-width: thin;
    outline-color: black;
    outline-offset: initial;
    outline-style: dashed;
    padding: 2vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60vw 10vw 10vw;
    background-color: #fff;
    color: #444;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:2vh;
}

.buttons{
  max-width: 7vw;
  max-height: 4vh;
}

.miniaturized-content {
    grid-column: 1;
    grid-row: 1;
}
