/*
CSS file for the miniaturized view of the project.
*/

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    color: #303030;
    margin: 20px;
  }

ol, ul {
    padding-left: 30px;
  }

p{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.txtTitle {
    font: 30px "Century Gothic", Futura, sans-serif;
    color: #303030;
}
.txtDesc {
      resize:none;
  }
.wrapper {
    padding: 2vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60vw 10vw 10vw;
    background-color: #fff;
    color: #444;
    max-height: 15vh;
}

.wrapper :hover {
  background-color: #F2F2F2;
}

.buttons{
  max-width: auto;
  max-height: 4vh;
}

.miniaturized-content {
    grid-column: 1;
    grid-row: 1;
    height: inherit;
    text-overflow: ellipsis;
}

.project-list {
  min-height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.card {
  min-width: 275px;
  background: red;
  border-radius: 5;
}
