h1{
  margin-left: 10vw;
  margin-top: 5vh;
}
.project{
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
}

.add{
    background-color: #2196f3; /* Green */
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    grid-column: 3;
}

.buttonSurrounding{
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20vw 40vw 10vw;
    background-color: #fff;
    color: #444;
}

.search {
  position: relative;
  width: 100%;
  margin-left: 0;
  border-radius: 1;
  background-color: #F2F2F2
}

.search-icon {
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  padding-left: 40px;
  padding-right: 4px;
  padding-bottom : 4px;
  padding-top: 4px;
  width: 100%;
}
