.project-details{
    text-align: center;
    border-left:1px solid black;
}

.title{
    padding-top: 15px;
    padding-bottom: 15px;
}

.members{
    padding-top:15px;
}

.project-owner{
    text-align: center;
}

.surrounding{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60vw 40vw;
    margin-top: 100px;
    min-height:400px;
}

.map{
    max-width: 200px;
}

.icon-button {
    /* float:right;
    margin-right: -90px; */
    margin-top: 25px;
    transform: scale(1.3);
}
