.user-data{
    width:400px;
    margin:auto;
    margin-top:10px;
    text-align: center;
}

p {
    white-space: unset
}
.description-2{
    width:100px;
    margin:auto;
    text-align: center;
}

.close-button {
    float:right;
    margin-right: -90px;
    margin-top: -25px;
    transform: scale(1.3);
}
